<!--分页-->

<section class="container">
    <h1 style="text-align: center">关于我</h1>
    <hr>
    <% if(page.layout === 'cheatSheet') { %>
        <mian>
            <article class="cheat-sheet">
                <%- page.content %>
            </article>
        </mian>
    <% } else { %>
        <mian>
            <article>
                <%- page.content %>
            </article>
        </mian>
    <% } %>
</section>
<%- partial('_partial/post/footer') %>
