<!--文章-->
<section class="container">
    <%- partial('_partial/post/header') %>
    <hr>
    <mian>
        <%- partial('_partial/sidebar') %>
        <article>
            <%- page.content %>
        </article>
    </mian>
</section>
<%- partial('_partial/post/footer') %>
