
//文章底部
.post-footer{
  text-align: right;
  border-top: 1px solid black;
  a{
    color: black;
    &:nth-child(1){
      //display: inline-block;
      //margin-right: 20%;
      //color: $color;
    }
  }
}

@media print{
  .post-footer{
    display: none;
  }
}
// cheat sheet
.cheat-sheet{
  position: relative;
    h2,pre{
      position: absolute;
      width: 50%;
      height: auto;
      padding: 10px;
    }

  code{
    font-size: 12px;

  }

}