<footer class="footer">
    <hr>
    <p>
        <a href="<%- url_for(theme.rss) %>" title="<%= __('rss_feed') %>"><i class="fas fa-rss"></i> 订阅</a> |
        <a href="javascript:void(0)"><i class="fas fa-user"></i> 关于我</a> |
        <a href="https://github.com/Gss615"><i class="fab fa-github"> GitHub</i></a>
    </p>
</footer>
